# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipotle = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipotle.shape[0] # number of observations = 4622

4622

In [5]:
# Solution 2

chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
chipotle.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
c = chipotle.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
c = chipotle.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)
# ordered = 761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
c = chipotle.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [25]:
chipotle.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [16]:
chipotle.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [19]:
d = lambda x: float(x[1:-1])
chipotle.item_price = chipotle.item_price.apply(d)

#### Step 13.c. Check the item price type

In [20]:
chipotle.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [21]:
revenue = (chipotle['quantity']* chipotle['item_price']).sum()

print('$' + str(np.round(revenue,2)))

$39237.02

### Step 15. How many orders were made in the period?

In [24]:
chipotle.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [26]:
# Solution 1

chipotle['revenue'] = chipotle['quantity']*chipotle['item_price']
orders = chipotle.groupby(by=['order_id']).sum()
orders.mean()['revenue']

21.394231188658654

In [27]:
# Solution 2

chipotle.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [28]:
chipotle.item_name.value_counts().count()

50